modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true
stack = "FULLSTACK_JS"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 23636
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
CONTACT_FROM_EMAIL = "contact@kiutmusic.com"
MAILCHIMP_AUDIENCE_ID = "de146c236a"
MAILCHIMP_SERVER_PREFIX = "us2"
CONTACT_REPLY_TO = "kiutmusicworldwide@gmail.com"
VITE_GA4_MEASUREMENT_ID = "G-EE9TF1XS08"
